.dashboard-content {
  padding: 40px;
  background-color: rgb(237,240,245);
}

.logo {
  flex-basis: 400px;
  gap: 10px;

  img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }
}

.header-nav {
  h3 {
    margin-left: 50px;
  }

  .bedge {
    position: relative;
    margin: 10px;
    .icon {
      font-size: 25px;
    }

    .badge-item {
      background: red;
      right: -5px;
      top: 0;
      position: absolute;
      font-size: 1rem;
      border-radius: 50%;
      line-height: 1rem;
      min-width: 1rem;
      text-align: center;
    }
  }
}

.profile-menu-container {
  position: relative;
}
.followers-menu-container {
  position: relative;
}

.followers-menu {
  position: absolute;
  top: 60px;
  right: 0;
  width: 400px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  gap: 2px;
  border-radius: 5px;
  cursor: auto;

  .header {
    height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 20px;
  }

  .user-item {
    padding: 5px 20px;
    cursor: pointer;
  }

}
//Navbar
.current-user {
  height: 200px;
  width: 400px;
  padding-left: 50px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
}

// welcome container
.welcome-container {
  font-family: 'Raleway', sans-serif;
  gap: 30px;
  margin-bottom: 30px;

  .card {
    height: 150px;
    width: 50%;
    box-shadow: 0 0 1px 1px rgb(215,224,241);
    background-color: white;
  }
  .title {
    font-size: 3rem;
    padding-left: 50px;
    margin-bottom: 20px;
  }
  .subtitle {
    font-size: 1.5rem;
    padding-left: 50px;
  }
  .count {
    margin-left: auto;
    font-weight: 800;
    font-size: 2rem;
    margin-right: 60px;
  }
}

.shortcut-feature {
  font-family: 'Raleway', sans-serif;
  gap: 30px;

  .card {
    height: 200px;
    flex-basis: 360px;
    box-shadow: 0 0 1px 1px rgb(215,224,241);
    background-color: white;
  }
  .title {
    font-size: 1.5rem;
    padding-left: 40px;
    margin: 20px 0;
    font-weight: 600;
    &.normal {
       color: #3f51b5;
    }
    &.warning {
      color: rgb(230,160,0);
    }
    &.success {
      color: rgb(76,175,80);
    }
    &.danger {
      color: rgb(230,74,25);
    }
  }
  .subtitle {
    font-size: 0.8rem;
    padding-left: 40px;
  }
  .count {
    margin-left: auto;
    font-weight: 800;
    font-size: 2rem;
    margin-right: 30px;
  }
  .footer {
    margin-top: auto;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    color: white;
    &.normal {
       background: #3f51b5;
    }
    &.warning {
      background: rgb(230,160,0);
    }
    &.success {
      background: rgb(76,175,80);
    }
    &.danger {
      background: rgb(230,74,25);
    }

  }

}