@use "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@use "@fortawesome/fontawesome-free/scss/solid.scss";
@use "@fortawesome/fontawesome-free/scss/regular.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #6a6c6f;
  background-color: #edf0f5;
}


.flex-horizontal {
  display: flex;
  flex-direction: row;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.flex-align-items-center {
  align-items: center;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-justify-content-end {
  justify-content: flex-end;
}

.flex-justify-content-center {
  justify-content: center;
}

.bg-blue {
  background-color: #303f9f;
}

.color-white {
  color: #ffffff;
}

.color-black {
  color: #000000;
}

.bg-light-blue {
  background-color: #3f51b5;
}

.display-none {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 65px;
  right: 0;
}

.navigation-menu {
  width: 400px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  gap: 2px;
  z-index: 1;
  background-color: white;
  border-radius: 5px;
  cursor: auto;

  .list-item {
    padding-left: 50px;
    gap: 10px;
    cursor: pointer;

    &.menu {
      height: 70px;

      &:hover {
        background-color: rgb(245, 247, 249);
      }
    }

    &.header {
      height: 50px;
      font-size: 0.8rem;
    }
  }

  .list-title {
    font-weight: 600;
  }

  .list-count {

    color: #fff;
    padding: 1px 5px;
    border-radius: 5px;
    font-size: 16px;
    margin-left: auto;
    margin-right: 25px;

    &.normal {
      background: #3f51b5;
    }

    &.warning {
      background: rgb(230, 160, 0);
    }

    &.success {
      background: rgb(76, 175, 80);
    }

    &.danger {
      background: rgb(230, 74, 25);
    }
  }

  .divider {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
  }
}


// user information:
.user-avatar {
  position: relative;
}

.user-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-status-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  right: 0;
}

.bg-active {
  background-color: #7dba2f;
}

.bg-idle {
  background-color: #303f9f;
}

.user-information {
  align-items: center;
  justify-content: center;
  padding: 0 0 0 35px;
}

.user-name {
  font-weight: 600;
  font-size: 25px;
  padding: 7px 0;
}

.user-role {
  font-weight: 600;
  font-size: 16px;
  color: grey;
}

// widget
.widget {
  background-color: #fff;
  margin-bottom: 1.5rem;
  box-shadow: 0 1px 2px #ccc;

  .widget-footer {
    background-color: #f0f4fb;
  }
  small {
    font-size: 95%;
    font-weight: 500;
  }
}

.widget-title {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  color: #333333;

  &.normal {
    color: #3f51b5;
  }

  &.warning {
    color: rgb(230, 160, 0);
  }

  &.success {
    color: rgb(76, 175, 80);
  }

  &.danger {
    color: rgb(230, 74, 25);
  }
}

.widget-header,
.widget-body,
.widget-footer {
  padding: 1rem;
}
$primary:   #188ae2;
$success:   #10c469;
$warning:   #f9c851;
$danger:    #ff5b5b;
// StreamLine widgets
.sl-item{
  position: relative;
  padding-bottom: 12px;
  border-left: 1px solid #ccc;
  &:before{
    content: '';
    position: absolute;
    left: -6px;
    top: 0;
    background-color: #ccc;
    width: 12px;
    height: 12px;
    border-radius: 100%;
  }
  &:last-child:after{
    content: '';
    position: absolute;
    left: -3px;
    bottom: 0;
    background-color: #ccc;
    width: 6px;
    height: 6px;
    border-radius: 100%;
  }
  .sl-content{
    margin-left: 24px;
    p{
      margin: 0;
    }
  }
}

.sl-primary{
  border-left-color: $primary;
  &:before,
  &:last-child:after{
    background-color: $primary;
  }
}

.sl-success{
  border-left-color: $success;
  &:before,
  &:last-child:after{
    background-color: $success;
  }
}

.sl-warning{
  border-left-color: $warning;
  &:before,
  &:last-child:after{
    background-color: $warning;
  }
}

.sl-danger{
  border-left-color: $danger;
  &:before,
  &:last-child:after{
    background-color: $danger;
  }
}

h3.widget-title {
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: 500;
}

.widget-separator {
  margin: 0 16px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.text-primary {
  color: #188ae2;
}

.text-success {
  color: #10c469;
}

.text-danger {
  color: #ff5b5b;
}
