@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
}
.flex-vertical {
  display: flex;
  flex-direction: column;
}
.flex-align-items-center {
  align-items: center;
}

.flex-grow {
  flex-grow: 1;
}
.flex-justify-content-end {
  justify-content: flex-end;
}
.flex-justify-content-center {
  justify-content: center;
}
.bg-blue {
  background-color: #303f9f;
}

.color-white {
  color: #ffffff;
}
.color-black {
  color: #000000;
}
.bg-light-blue {
  background-color: #3f51b5;
}
.display-none {
  display: none;
}
.cursor-pointer {
  cursor: pointer;
}
